@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}
header .logo{
    float: left;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile{
    margin-top: 40px;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../imagens/icon_menu.png');
    background-size: 100% 100%;
}

nav.mobile ul{
    display: none;
    width: 100%;
    left: 0;
    top: 110px;
    z-index: 999;
    border-bottom: 3px solid #eb2d2d;
    position: absolute;
    text-align: center;
    background-color: #fff;
}

nav.mobile li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

nav.mobile li a{
    text-decoration: none;
    color: #000;
}

header nav.desktop ul{
    list-style-type: none;
}

header nav.desktop ul li{
    float: left;
    font-size: 20px;
    padding-left: 3rem;
    font-style: italic;
}

header nav.desktop a{
    text-decoration: none;
    color: #000;
}

.desktop ul li a:hover{
        color: #eb2d2d;
    }


section.banner{
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-color: #000;
    background-image: url('../imagens/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 30px;
}

.text-banner-single{
    cursor: pointer;
    margin-top: 50px;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    width: 314px;
    height: 80px;
    background-image: url('../imagens/box-text.png');
    background-size: 100% 100%;
    padding: 20px 40px;
    text-transform: uppercase;
}

.text-banner .text-banner-single:nth-of-type(1){
    width: 300px;
    position: relative;
    left: -1px;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 270px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 240px;
    position: relative;
    left: -18px;
}

.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque .container{
    padding: 40px 0;
    max-width: 1000px;
}

.line-titulo{
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.ln1{
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background: #000
}

.line-titulo > h2{
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
}

.vitrine-carros{
    float: left;
    width: 33.3%;
    padding: 0 30px;
}

.vitrine-carros .cars{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}
.vitrine-carros h2{
    font-size: 20px;
    font-style: italic;
    padding: 10px 0;
}

.vitrine-carros p{
    color: #353535;
    font-style: italic;
    font-size: 15px;
    padding: 10px 0;
}

.vitrine-carros a{
    font-style: italic;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    background-color: #eb2d2d;
    text-decoration: none;
    line-height: 30px;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    box-shadow: -1px 2px 8px 1px #000;
}

.vitrine-carros a:hover{
    background-color: #eb8034;
    transform: scale(1.1,1.1);
}

.servicos-descricao{
    display: flex;
}

.half1{
    width: 50%;
    padding: 90px 0;
    background-color: #242424;
    color: #fff;
}

.half1-wraper{
    float: right;
    padding-right: 20%;
}

.half1-wraper h2{
    font-weight: normal;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 15px;
}

.half1-wraper ul{
    list-style-position: inside;
    display: inline-block;
}

.half1-wraper li{
    padding: 10px 0;
    font-style: italic;
    font-size: 18px;
}

.half1-wraper a{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    background-color: #ed2b2b;
    box-shadow: -1px 2px 8px 1px #fff;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 35px;
    text-align: center;
}

.half1-wraper a:hover{
    background-color: #eb8034;
    transform: scale(1.1,1.1);
}

.half-2{
    width: 50%;
    padding: 90px 100px;
    background-color: #ed2b2b;
    color: #fff;
}

.half-2 h2{
    font-weight: normal;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 15px;
}

.half-2 .depoimentos-single{
    margin-top: 20px;
}

.half-2 .depoimentos-single p{
    font-size: 19px;
}

.navigation{
    margin-top: 30px;
    float: left;
    width: 100%;
    max-width: 540px;
}

.arrows{
    float: left;
}

.navigation img{
    margin: 0 20px;
    cursor: pointer;
}

.nome-depoimento{
    margin-right: 35px;
    float: right;
    color: #000;
    font-size: 24px;
}

section.contact{
    padding: 60px 2%;
}

section.contact form{
    max-width: 600px;
    margin: 50px auto;
}

section.contact .input-wraper{
    float: left;
    padding: 10px;
    margin-top: 7px;
}

section.contact input[type=text]{
    width: 100%;
    border: 1 solid #cccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contact textarea{
    width: 100%;
    height: 140px;
    padding: 8px;
    border: 1px solid #ccc;
    resize: none;
}

section.contact form .input-wraper:nth-of-type(5){
    text-align: center;
}

section.contact input[type=submit]{
    font-style: italic;
    color: #fff;
    margin-top: 10px;
    background-color: #eb2d2d;
    padding: 10px 50px;
    text-transform: uppercase;
    box-shadow: -1px 2px 8px 1px #000;
    cursor: pointer;
    display: inline-block;
}

section.contact input[type=submit]:hover{
    background-color: #eb8034;
    transform: scale(1.1,1.1);
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

footer{
    padding: 40px 2%;
    background-color: #252525;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none;
}

footer nav ul li{
    float: left;
    font-style: italic;
    padding: 0 30px;
}

footer nav ul li a{
    text-decoration: none;
    color: #fff;
}

footer p{
    float: right;
    color: #fff;
    font-style: italic;
}

@media screen and (max-width: 1140px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px){
    section.banner{
    height: 70vw;
    min-height: 0;
    max-height: 500px;
    }
}

@media screen and (max-width: 910px){
    .half1-wraper a{
       display: block;
       margin-left: 0;
       margin-top: 20px;
    }
}

@media screen and (max-width: 720px){

    section .servicos-descricao{
        flex-direction: column;
    }

    .half1, .half-2{
        width: 100%;
    }
    nav.desktop{
        display: none;
        text-align: center;
    }

    nav.mobile{
        display: block;
    }

    .text-banner-single{
        margin-top: 10px;
        margin-left: 20px;
    }

    footer nav{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float: none;
    }
  
}

@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }
    
    .text-banner-single{
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
        padding: 8px 40px;
    }
    

    section.veiculos-destaque .container{
       text-align: center;
    }

    .vitrine-carros{
        float: none;
        width: 60%;
        display: inline-block;
        padding: 10px;
    }
    .half1-wraper a{
        display: block;
        margin-left: 15%;
        margin-top: 20px;
     }
     .half1-wraper li{
        font-size: 16px;
    }
    .half1, .half-2{
        width: 100%;
        text-align: left;
        padding:  1rem;
    }
    section .servicos-descricao{
        flex-direction: column;
    }
}