@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 20px 2% 35px 2%;
    height: 130px;
}
header .logo{
    float: left;
}

header nav.desktop{
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile{
    margin-top: 40px;
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('../imagens/icon_menu.png');
    background-size: 100% 100%;
}

nav.mobile ul{
    display: none;
    width: 100%;
    left: 0;
    top: 110px;
    z-index: 999;
    border-bottom: 3px solid #eb2d2d;
    position: absolute;
    text-align: center;
    background-color: #fff;
}

nav.mobile li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

nav.mobile li a{
    text-decoration: none;
    color: #000;
}

header nav.desktop ul{
    list-style-type: none;
}

header nav.desktop ul li{
    float: left;
    font-size: 20px;
    padding-left: 3rem;
    font-style: italic;
}

header nav.desktop a{
    text-decoration: none;
    color: #000;
}

section.banner{
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-color: #000;
    background-image: url('../imagens/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner{
    padding: 30px;
}

.text-banner-single{
    cursor: pointer;
    margin-top: 50px;
    color: #fff;
    font-size: 25px;
    font-style: italic;
    width: 314px;
    height: 80px;
    background-image: url('../imagens/box-text.png');
    background-size: 100% 100%;
    padding: 20px 40px;
    text-transform: uppercase;
}

.text-banner .text-banner-single:nth-of-type(1){
    width: 300px;
    position: relative;
    left: -1px;
}

.text-banner .text-banner-single:nth-of-type(2){
    width: 270px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
    width: 240px;
    position: relative;
    left: -18px;
}

.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque .container{
    padding: 40px 0;
    max-width: 1000px;
}

.line-titulo{
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.ln1{
    position: absolute;
    top: 22px;
    height: 2px;
    width: 100%;
    background: #000
}

.veiculos-destaque > .line-titulo > h2{
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
}

.vitrine-carros{
    float: left;
    width: 33.3%;
    padding: 0 30px;
}

.vitrine-carros .cars{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}
.vitrine-carros h2{
    font-size: 20px;
    font-style: italic;
    padding: 10px 0;
}

.vitrine-carros p{
    color: #353535;
    font-style: italic;
    font-size: 15px;
    padding: 10px 0;
}

.vitrine-carros a{
    font-style: italic;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    background-color: #eb2d2d;
    text-decoration: none;
    line-height: 30px;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    box-shadow: -1px 2px 8px 1px #000;
}
@media screen and (max-width: 1140px){
    section.banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px){
    section.banner{
    height: 70vw;
    min-height: 0;
    max-height: 500px;
    }
}

@media screen and (max-width: 720px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .text-banner-single{
        margin-top: 10px;
        margin-left: 20px;
    }
  
}

@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }
    
    .text-banner-single{
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        height: 50px;
        padding: 8px 40px;
    }
    

    section.veiculos-destaque .container{
       text-align: center;
    }

    .vitrine-carros{
        float: none;
        width: 60%;
        display: inline-block;
        padding: 10px;
    }
}